<h1>Sign In</h1>
<% if flash[:error]%>
<div class="alert alert-danger">
  <h6><%= flash[:error]%></h6>
</div>
<%end%>
<%= form_tag sessions_path do %>
  <div class="form-group">
    Email: <%= text_field_tag :email, nil,class: 'form-control'%>
    Password: <%= password_field_tag :password, nil ,class: 'form-control' %>
  </div>
  <%= submit_tag "Submit", class:"btn btn-primary" %>


<% end %>
